[Desktop Entry]
Name=OpenBOR
Comment=OpenBOR Engine r6330
Exec=./ob.dge
Terminal=true
Type=Application
StartupNotify=true
Icon=openbor
Categories=games
X-OD-Manual=readme.gcw0.txt
X-OD-NeedsDownscaling=true

